/* mobile */
html {
  font-size: 16px;
}
/* tablet */
@media only screen and (min-width: 480px) {
  html {
      font-size: 18px;
  }
}
/* desktop */
@media only screen and (min-width: 768px) {
  html {
      font-size: 20px;
  }
}
/* extra large */
@media only screen and (min-width: 1024px) {
  html {
      font-size: 22px;
  }
}

.App {
  text-align: center;
  background-image: linear-gradient(to right, teal, orange);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 2rem;
  pointer-events: none;
  margin: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #47172e4f;
  border-bottom: solid 1px white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 4rem;
  font-size: 1.3rem;
  color: white;
}

.App-footer {
  position: absolute;
  width: 100vw;
  top: 85vh;
  height: 15vh;
  background-color: #47172e4f;
  border-top: solid 1px white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}

.message-box {
  background-color: lightgray;
  border: solid 1px white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0;
  width: 100vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.message-input {
  background-color: lightgray;
  border: none;
}
.message-button {
  border: solid 1px white;
  border-radius: 50%;
  margin: 0.3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
