.footer {
  position: fixed;
  width: 100vw;
  top: 85vh;
  height: 15vh;
  background-color: #47172e8f;
  border-top: solid 1px white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  color: white;
}
  
.message-box {
  background-color: lightgray;
  border: solid 1px white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0;
  width: 100vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.message-input {
  background-color: lightgray;
  border: none;
  width: 80vw;
}
.message-button {
  border: solid 1px white;
  border-radius: 50%;
  margin: 0.3rem;
}